.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: grey;
  font-family: 'Montserrat', 'Georgia', serif;
  font-style: italic;
  margin: 15px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 1.2em;
  padding: 10px 20px;
}
